{% extends 'base.html' %} {% block title %}Add Computer{% endblock %} {% load
static %} {% block content %}

<form
  method="post"
  action="{% url 'computer:add_computer' %}"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div class="form-group row">
    <label
      for="computerGen"
      class="col-sm-2 col-form-label"
      style="padding-left: 2rem"
      >Computer Specification</label
    >
    <div class="col-sm-10">
      <select name="specificationId" id="cars">
        {% for specification in specifications %}

        <option value="{{specification.id}}">
          {{ specification.generation }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label
      for="computerCode"
      class="col-sm-2 col-form-label"
      style="padding-left: 2rem"
      >Computer Code</label
    >
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        id="computerCode"
        name="computerCode"
        placeholder="Computer Code"
        value="{{computer_code}}"
        required
      />
    </div>
  </div>

  <div class="form-group row">
    <label
      for="quantity"
      class="col-sm-2 col-form-label"
      style="padding-left: 2rem"
      >Quantity</label
    >
    <div class="col-sm-10">
      <input
        type="number"
        min="1"
        max="10000"
        value="{{quantity}}"
        class="form-control"
        id="quantity"
        name="quantity"
        placeholder="Quantity"
        required
      />
    </div>
  </div>
  <div class="form-group row">
    <label
      for="quantity"
      class="col-sm-2 col-form-label"
      style="padding-left: 2rem"
      >Unit Price</label
    >
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        id="unitPrice"
        name="unitPrice"
        placeholder="Unit Price"
        required
      />
    </div>
  </div>

  <div class="form-group row">
    <label
      for="image"
      class="col-sm-2 col-form-label"
      style="padding-left: 2rem"
      >Image</label
    >
    <div class="form-group row">
      <input
        type="file"
        class="form-control-file"
        id="customFile"
        name="files"
        accept="image/*"
        required
        style="margin-left: 30px"
      />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </div>
  </div>

  {% if message != '' %}
  <script>
    {
      alert("{{message}}");
    }
  </script>
  {% endif %}
</form>

{% endblock %}
