{% extends 'base.html' %} {% block title %}Add Specification{% endblock %} {%
load static %} {% block content %}

<form
  method="post"
  action="{% url 'computer:add_specification' %}"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div class="form-group row">
    <label
      for="brand_name"
      class="col-sm-2 col-form-label"
      style="padding-left: 2rem"
      >Brand Name</label
    >
    <div class="col-sm-10">
      <select name="specificationId" id="brand_name">
        {% for specification in specifications %}

        <option value="{{specification.id}}">
          {{ specification.brand_name }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label
      for="generation"
      class="col-sm-2 col-form-label"
      style="padding-left: 2rem"
      >Generation</label
    >
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="generation"
        name="generation"
        placeholder="Generation"
        required
      />
    </div>
  </div>
  <div class="form-group row">
    <label
      for="min_price"
      class="col-sm-2 col-form-label"
      style="padding-left: 2rem"
      >Minimum Price</label
    >
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        id="min_price"
        name="min_price"
        placeholder="Minimum Price"
        required
      />
    </div>
  </div>
  <div class="form-group row">
    <label
      for="max_price"
      class="col-sm-2 col-form-label"
      style="padding-left: 2rem"
      >Maximum Price</label
    >
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        id="max_price"
        name="max_price"
        placeholder="Maximum Price"
        required
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="ram" class="col-sm-2 col-form-label" style="padding-left: 2rem"
      >RAM</label
    >
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        id="ram"
        name="ram"
        placeholder="RAM"
        required
      />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </div>
  </div>
</form>

{% endblock %}
