{% extends 'base.html' %} {% block title %}View Computer{% endblock %} {% load
static %} {%block content%}
<a href="{% url 'computer:add_computer' %}">
  <button class="button">Add</button>
</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Computer Code</th>
      <th scope="col">Generation</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total Price</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {%for data in page_obj%}
    <tr>
      <td>
        <img
          src="http://localhost:8000/media/{{ data.image }}"
          class="img-fluid"
          alt="{{ data.image }}"
          style="height: 65px; width: 150px; padding: 2px"
        />
      </td>
      <td>{{data.computer_code}}</td>
      <!-- <td>{{data.generation}}</td> -->

      <td>{{data.specification}}</td>
      <td>{{data.quantity}}</td>
      <td>{{data.unit_rate}}</td>
      <td>{{data.total_price}}</td>
      <td>
        <a href="{% url 'computer:update_computer' data.id %}"
          ><button type="submit" class="btn btn-primary">Edit</button></a
        >
      </td>
      <td>
        <a href="{% url 'computer:delete_computer' data.id %}"
          ><button type="submit" class="btn btn-danger">Delete</button></a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
    {%if page_obj.has_previous%}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {%endif%}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {%if page_obj.has_next%}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{%endblock%}
