{% extends 'base.html' %} {% block title %}View Specification{% endblock %} {%
load static %} {%block content%}
<a href="{% url 'computer:add_specification' %}">
  <button class="button">Add</button>
</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Brand Name</th>
      <th scope="col">Generation</th>
      <th scope="col">Minimum Price</th>
      <th scope="col">Maximum Price</th>
      <th scope="col">RAM</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {%for data in page_obj%}
    <tr>
      <td>{{data.brand}}</td>
      <td>{{data.generation}}</td>
      <td>{{data.price_min}}</td>
      <td>{{data.price_max}}</td>
      <td>{{data.ram}}</td>
      <td>
        <a href="{% url 'computer:update_specification' data.id %}"
          ><button type="submit" class="btn btn-primary">Edit</button></a
        >
      </td>
      <td>
        <a href="{% url 'computer:delete_specification' data.id %}"
          ><button type="submit" class="btn btn-danger">Delete</button></a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
    {%if page_obj.has_previous%}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {%endif%}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {%if page_obj.has_next%}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{%endblock%}
